.rander {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 1480px; */
    margin: 50px auto;
    justify-content: space-between;
    gap: 50px;
}

.rander-box-1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rander-box-1 h1 {
    font-size: 4rem;
    color: #101727;
    ;
}

.rander-box-1 p {
    font-size: 1.2rem;
    color: #627382;
}

.toggel-btn {
    padding: 2px;
    background-color: #f6f6f6;
    width: 250px;
    margin: 0px auto;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggel-deafult {
    height: 30px;
    border: none;
    background: linear-gradient(45deg,
            #4F39F6,
            #9514FA);
    color: white;
    width: 125px;
    border-radius: 25px;
    font-size: 1.2rem;
}

.toggel {
    height: 30px;
    border: none;
    color: #101727;
    width: 125px;
    border-radius: 25px;
    font-size: 1.2rem;
}

.rander-box-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cart {
    padding: 20px;
    box-shadow: 0px 0px 10px #627382;
    border-radius: 10px;
}

.best-seller {
    margin-left: 63%;
    background-color: #FEF3C6;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 25px;
}
.popular {
    margin-left: 63%;
    background-color: #E1E7FF;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 25px;
}
.new {
    margin-left: 63%;
    background-color: #DBFCE7;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 25px;
}

.h4-1{
    color: #BB4D00;
}
.h4-2{
    color: #4F39F6;
}
.h4-3{
    color: #0A883E;
}

.buy-now {
    padding: 14px 39%;
    border-radius: 30px;
    border: none;
    background: linear-gradient(45deg,
            #4F39F6,
            #9514FA);
    color: #f6f6f6;
    font-size: 1.1rem;
    margin-top: 10px;
}

.buy-now-succ {
    padding: 14px 110px;
    border-radius: 30px;
    border: none;
    background-color: #0ab31d;
    color: #f6f6f6;
    font-size: 1.1rem;
    margin-top: 10px;
}

.rander-box-2 h2 {
    margin: 10px 0px;
}

.rander-box-2 h2 span {
    color: #a1a9b0;
}

.rander-box-2 p {
    color: #5f6264;
    display: flex;
    align-items: center;
    gap: 10px;
}

.i {
    background-color: #0ab31d;
    border-radius: 50%;
}

.i path {
    color: #f6f6f6;
}

.margin {
    margin-top: 150px;
}

.gradent {
    background: linear-gradient(45deg,
            #4F39F6,
            #9514FA);
    color: white !important;
}

.gradent h2,
.gradent p {
    color: white;
}

.buynow {
    padding: 14px 39%;
    border-radius: 30px;
    border: none;
    background: white;
    color: #f6f6f6;
    font-size: 1.1rem;
    margin-top: 10px;
}

.buynow p {
    background: -webkit-linear-gradient(#4F39F6, #9514FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buying-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    border: 3px solid #a1a9b0;
    margin: 50px auto;
    border-radius: 20px;
}


@media screen and (max-width:576px) {
    .rander-box-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        width: 100%;
    }

    .buying-cart {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 150px;
        border: 3px solid #a1a9b0;
        width: 500px;
        margin: 50px auto;
        border-radius: 20px;
    }

    .rander {
        margin: 0px auto;
    }

    .cart {
        width: 350px;
    }

    .rander h1 {
        font-size: 2.5rem;
    }
}