.selected-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px;
    border: 3px solid #a1a9b0;
    margin: 50px auto;
    border-radius: 20px;
    gap: 20px;
}

.cat {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px #a1a9b051;
    padding: 20px;
    border-radius: 10px;
}

.titel {
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.sumof-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.pro{
    background: linear-gradient(
        45deg,
        #4F39F6,
        #9514FA
    );
    color: #fff;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove {
    color: red;
    cursor: pointer;
}

@media screen and (max-width:576px) {
    .cat {
        width: 400px;
    }

    .selected-card {
        margin: 0px auto;
        padding: 10px;
        border-radius: 10px;

    }
    .body{
        max-width: 576px;
    }
    .pro{
        width: 85%;
    }
}